.top-box-styling{
  background-color: purple;
  display: flex;

 
}

.phone-background-box{
  max-width: 15rem;
  width: 100%;
  background-color: hotpink;
  border: 1px solid black;
  border-radius:50px;
  display: flex;
 

}
