.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: darkslategray;
    padding: 50px;
    border-radius:10%;
    border: 10px solid;
    height: 500px;
    width: 15%;
    margin: 5%;
    margin-left: 30%;
    grid-template-rows: 100px 100px 50px 230px 2px;

    
  }
  .grid-item1{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: red;
    border-radius: 30%;
    margin: 2%;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .grid-item2{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: purple;
  }
  .grid-item3{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 7;
    background-color: white;
    opacity: 90%;
    width: 120%;
    margin-left: -35px;
    
    
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
    font-size: 30px;
    text-align: center;
    border-radius: 20%;
    margin-right: 60%;
    font-size: 10px;
    margin: 10%;

    
  }
  #grootte {
    height: 40px;
    width: 50px;
  }
  #fotomidden{
    width: 250px;
    height: 275px;
  }

.grid-itema{
    height: 10px;
    background-color: green;
    
}
p{
    text-align: center;
}
.center{
    text-align: center;
}
.popuptext{
  display: inline-block;
  cursor: pointer;
  visibility: hidden;
  position: absolute;
  height: 225px;
  width: 250px;
  
}

.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  background-color: blue;
  border-radius: 10%;
  
}
.popup{
  cursor: pointer;
}
